* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.father {
    display: flex;
    height: 100vh;
    justify-content: center;
    /* flex-flow: row nowrap; */
    flex-direction: row;
}

.box {
    height: 400px;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:first-child {
    background-color: tomato;
    /* grow && shrink로 min-width의 효과를 줌. */
    /* flex-grow: 1; */
    /* 플렉스 기준으로 크기가 커지기 전에 초기 500px 크기를 설정 + shrink가 0이면, 500px 미만로 줄어들지 않음.. */
    /* fiex-basis는 max-width처럼 작동. 주축(main axis)을 가진다. 주축에 따라 넓이 높이로 작용할 수 있다. */
    /* flex-basis: 500px; */
    /* flex-shrink: 0; */
    /* flex하나로 grow shrink basis를 한번에 지정할 수 있다. */
    flex: 1 1 500px;
}

.box:last-child {
    background-color: teal;
    flex-grow: 1;
    /* flex-shrink: 1; */
}
