.father {
    /* 바둑판, 격자 무늬로 */
    display: grid;
    /* grid-template */
    /* 2행 2열의 총 4칸 격자 구조를 만드는 설정. */
    /* 열너비 행높이.. */
    grid-template-columns: 100px 200px 300px;
    grid-template-rows: 200px 100px;
    gap: 10px;
}

.child {
    background-color: chartreuse;
    display: flex;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.child:first-child {
    /* grid-row-start: 1;   
    grid-row-end: 3 or -1; 여기서는 3이 끝, 아니면 그냥 -1로 끝까지 */
    /* 위 코드를 한번에 가능. */
    grid-row: 1 / -1;
}

.child:last-child {
    /* -1은 마지막 라인을 뜻함. */
    background-color: coral;
    /* grid-column-start: 2;   
    grid-column-end: -1; */
    /* 위 코드를 한번에 가능. */
    grid-column: 2 / -1;
}