.father {
    /* 바둑판, 격자 무늬로 */
    display: grid;
    /* grid-template */
    /* 2행 2열의 총 4칸 격자 구조를 만드는 설정. */
    /* 열너비 행높이.. */
    /* Line Names */
    grid-template-columns: [cucumber] 100px [potato] 200px [banana] 300px [brocoli];
    grid-template-rows: [korea] 200px [thailand] 100px [america];
    gap: 10px;
}

.child {
    background-color: chartreuse;
    display: flex;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
}

.child:first-child {
    /* grid-row-start: 1;   
    grid-row-end: 3 or -1; 여기서는 3이 끝, 아니면 그냥 -1로 끝까지 */
    
    /* 위에서 지정한[이름]으로 값을 지정하는 것이 가능하다. */
    /* 위 코드를 한번에 가능. */
    grid-row: korea / america;
}

.child:last-child {
    /* -1은 마지막 라인을 뜻함. */
    background-color: coral;
    /* grid-column-start: 2;   
    grid-column-end: -1; */
    /* 위 코드를 한번에 가능. */
    grid-column: potato / brocoli;
}