body {
    background-color: blueviolet;
    /* 부모요소인 body에 flex를 줌. */
    display: flex;
    /* 자식요소들을 수평으로 정렬.. */
    justify-content: space-between; 
}

/* 지금 first-child는 h1이기때문에 주석처리. */
/* h1 {
    color: whitesmoke;
} */

.box {
    width: 200px;
    height: 200px;
    background-color: tomato;
    /* display: inline; - width or height를 사용하면사라짐. */
    /* display: block; */
    /* display: inline-block; */
}

.box:first-child {
    /* display: block; */
    /* margin-right: 25%; */
}

.box:last-child {
    /* display: block; */
    /* margin-left: 25%; */
}