* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.father {
    display: flex;
    height: 100vh;
    justify-content: center;
    /* flex-flow: row nowrap; */
}

.box {
    height: 400px;
    color: white;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* flex-shrink를 다 0으로 하면 첫번째 것만 찌그러지고 나머지는 그대로 */
.box:first-child {
    background-color: tomato;
    flex-grow: 1;
    /* 화면 줄이면 안찌그러짐(0) */
    flex-shrink: 0;
}

.box:nth-child(2) {
    background-color: greenyellow;
    flex-grow: 2;
    /* 화면 줄이면 이것만 찌그러짐. */
    flex-shrink: 1;
}

.box:last-child {
    background-color: teal;
    flex-grow: 1;
    /* 화면 줄이면 안찌그러짐(0) */
    flex-shrink: 0;
}
