// mixin으로 반응형 디자인 만들기.
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@mixin smallDevice {
  @media screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin mediumDevice {
  @media screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin largeDevice {
  @media screen and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin xlDevice {
  @media screen and (min-width: $breakpoint-xl) {
    @content;
  }
}

body {
  @include smallDevice {
    background-color: blueviolet;
  }
  @include mediumDevice {
    background-color: rgb(238, 22, 22);
  }

  @include largeDevice {
    background-color: rgb(16, 175, 96);
  }

  @include xlDevice {
    background-color: rgb(224, 30, 160);
  }
}
